.MenuHorizontal{
	border: 1px solid red;
}
.cabecalho{
	border: 1px solid red;
    margin-top: 20px;
}
.ladoesquerdo{

}
.centro{

}
.ladodireito{

}
.footer{
	border: 1px solid red;
}
.MostraProdutos
{
	width:200px;
	height: 200px;
	float:left;
	margin-bottom:30px;
	margin-right: 15px;
	position: relative;
	text-align: center;
	border: 1px solid red;
}

.campo_descricao
{
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:12px;
}

.campo_valor
{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#C33;
}
.imgProduto{
	width:100px;
	height:100px;
}
.redimensionar .fakeImg {
    background: no-repeat center;
    background-size: cover; 
}

.login{
	width:400px;
}
