#menu_vertical ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 170px;
}

#menu_vertical ul li {
    position: relative;
}

#menu_vertical li ul {
    position: absolute;
    left: 169px;
    top: 0;
    display: none;
}

#menu_vertical ul li a {
    display: block;
    color: #E2144A;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}
#menu_vertical li:hover ul { display: block; }
/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */

#menu_vertical ul li a:hover{
    background: #ccc;
}
