#menu_horizontal ul{
    margin: 0;
    padding: 0;
  }

#menu_horizontal ul li {
	display: inline;
}

#menu_horizontal li ul {
    display: none;
}

#menu_horizontal ul li a {
	color: #E2144A;
	background: #fff;
    border: 1px solid #ccc;
}
#menu_horizontal li:hover ul { 
	display: block;
}

#menu_horizontal ul li a:hover{
    background: #ccc;
}
